@model TopMarket.Models.EntityFramework.Blog
@{
    ViewBag.Title = Model.Title;

}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<!-- Slider -->
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }
	.blog-detail ul {
		list-style-type: disc;
		margin-left: 20px;
		padding-left: 20px;
	}

	.blog-detail ol {
		list-style-type: decimal;
		margin-left: 20px;
		padding-left: 20px;
	}

</style>
<div class="container news_section_container">
    @if (Model != null)
    {
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-news"> @Model.Title</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4><strong> @Html.Raw(Model.Description) </strong></h4>
            </div>
            <div class="col-md-12">
                <img src="@Model.Image" style="max-width: 40%; border-radius: 5px; display:flex; margin:20px auto" />
            </div>

            <div class="col-md-12 blog-detail">
                @Html.Raw(Model.Detail)
            </div>
        </div>
    }

</div>
