@model IEnumerable<TopMarket.Models.EntityFramework.ProductCategory>

<style>
    .img-2 {
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .img-category:hover .img-2 {
        opacity: 0.3;
    }
</style>

@if (Model != null && Model.Any())
{
    <div class="banner">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 img-category">
                        <a href="/product-category/@item.Alias-@item.Id">
                            <div class="img-2 banner_item align-items-center" style="background-image: url(@item.Icon);background-size:80%; background-position: center">
                            </div>
                        </a>
                        <div class="banner_category">
                            <a href="/product-category/@item.Alias-@item.Id">@item.Title</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
