@model IEnumerable<TopMarket.Models.EntityFramework.ProductCategory>

@if (Model != null && Model.Any()) {
    <ul class="sidebar_categories">
        @foreach (var item in Model) {
            var isActive = (ViewBag.CateId == item.Id);

            <li class="@(isActive ? "active" : string.Empty)">
                <a href="/product-category/@item.Alias-@(item.Id)">
                    @if (isActive) {
                        <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                    }
                    @item.Title
                </a>
            </li>
        }
    </ul>
}
