@model IEnumerable<TopMarket.Models.ShoppingCartItem>
@using TopMarket.Common

@if (Model != null && Model.Any()) {
    <h3>
        Cart 
        <span class="float-right">
            <small>@Model.Count()</small>
        </span>
    </h3>

    var totalPrice = decimal.Zero;

    <div class="border p-2">
        <table class="table table-sm">
            @foreach (var item in Model) {
                totalPrice += item.TotalPrice;
                <tr>
                    <td>@item.ProductName</td>
                    <td>@Common.FormatNumber(item.Price, 0)</td>
                </tr>
            }
            <tr class="font-weight-bold">
                <td>Total Price</td>
                <td>@Common.FormatNumber(totalPrice, 0)</td>
            </tr>
        </table>
    </div>
} else {
    <div class="alert alert-warning">Your cart is empty!</div>
}
